:root {
    /* gruvbox palette */
    --bg-dark: #282828;
    --red-dark: #cc231d;
    --green-dark: #98971a;
    --yellow-dark: #d79921;
    --blue-dark: #458588;
    --purple-dark: #b16286;
    --aqua-dark: #689d6a;
    --gray-dark: #a89984;
    --orange-dark: #d65d0e;
    --gray-light: #928374;
    --red-light: #fb4934;
    --green-light: #b8bb26;
    --yellow-light: #fabd2f;
    --blue-light: #83a598;
    --purple-light: #d3869b;
    --aqua-light: #8ec07c;
    --orange-light: #fe8019;
    --fg: #ebdbb2;
    --bg0_h: #1d2021;
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #584945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --gray: #928374;
    --bg0_s: #32302f;
    --fg4: #a89984;
    --fg3: #bdae93;
    --fg2: #d5c4a1;
    --fg1: #ebdbb2;
    --fg0: #fbf1c7;
}

body {
    background-color: rgba(235,219,178, 0.15);
    color: var(--bg-dark);
}

.wrapper {
    padding: 0 30px;
}

.text-large {
    font-size: 18pt;
}

.logo {
    font-size: 24pt;
    color: rgba(99,64,135,0.9);
    /* color: #634087; */
}

.content {
    border: 2px solid rgba(40,40,40,0.1);
    border-radius:  0 0 15px 15px;
    background-color: white;
    min-height: 50vh;
}

.nav-item {
    color: var(--bg-dark);
    border-radius: 50px;
    width: min-content;
}
.nav-item i {
    display: inline;
}

.nav-item.active, .nav-item:hover {
    background-color: rgba(99,64,135,0.9);
    color: white!important;
}

.nav-item:hover {
    color: inherit;
    text-decoration: none;
}

.sidebar-block-gray {
    border-radius: 15px;
    background-color: rgba(102,92,84,0.1);
    /* background-color: rgba(88,73,69,0.1); */
    /* background-color: rgba(124,111,100,0.2); */
}
