:root {
  --black: #181c32;
  --peach-soft: #fbf6f0;
  --gray-soft: #f3f6f9;
  --gray-light: #b5b5c3;
  --gray-dark: #3f4254;
  --violet: #8950fc;
  --red: #f64e60;
  --aqua: #0bb7af;
  --orange: #ffa800;
  --violet-soft: #eee5ff;
  --red-soft: #ffe2e5;
  --aqua-soft: #c9f7f5;
  --orange-soft: #fff4de;
}

body {
  background-color: var(--peach-soft);
  color: var(--gray-dark);
  font-family: Poppins, sans-serif;
}

.logo {
  font-size: 28pt;
  color: var(--black);
}

.semi-bold {
  font-weight: 600;
}

.nav-item {
  color: var(--black);
}

.custom-button i {
  display: inline-block;
  width: 40px;
}

.custom-button:hover .badge {
  background-color: white;
  color: var(--black);
}

.nav-item.active,
.nav-item:hover {
  background-color: var(--black);
  color: var(--white) !important;
}

.custom-button {
  border-radius: 50px;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.bg-black,
.bg-black:hover {
  background-color: var(--black) !important;
  color: white;
}

.btn-violet {
  border-color: var(--violet-soft);
  background-color: var(--violet-soft);
  color: var(--violet);
}

.btn-violet:hover {
  border-color: var(--violet);
  background-color: var(--violet);
  color: white;
}

.btn-red {
  border-color: var(--red-soft);
  background-color: var(--red-soft);
  color: var(--red);
}

.btn-red:hover {
  border-color: var(--red);
  background-color: var(--red);
  color: white;
}

.btn-orange {
  border-color: var(--orange-soft);
  background-color: var(--orange-soft);
  color: var(--orange);
}

.btn-orange:hover {
  border-color: var(--orange);
  background-color: var(--orange);
  color: white;
}

.btn-aqua {
  border-color: var(--aqua-soft);
  background-color: var(--aqua-soft);
  color: var(--aqua);
}

.btn-aqua:hover {
  border-color: var(--aqua);
  background-color: var(--aqua);
  color: white;
}

.content {
  border-radius: 0 0 15px 15px;
}

.content h1,
.content h2 {
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

.card {
  border-radius: 15px;
  border-color: white;
}

.sidebar-block {
}

.sidebar-block i {
  padding-right: 15px;
}

.form-control {
  background-color: var(--gray-soft);
  color: var(--gray-dark);
  border: 3px solid var(--gray-light) !important;
  border-radius: 10px;
}

.form-control::placeholder {
  color: var(--gray-dark);
}

.form-control:focus {
  /* box-shadow: 0 0 4px var(--violet-soft); */
  box-shadow: none;
  outline: none;
  border-color: var(--black);
}

.btn:focus {
  box-shadow: none;
  outline: none;
  border-color: transparent;
}

.table {
  color: inherit;
  overflow-x: scroll;
}

.table .thead-light th:first-child {
  border-radius: 10px 0 0 10px;
}

.table .thead-light th:last-child {
  border-radius: 0 10px 10px 0;
}

.table .thead-light th {
  font-weight: 600;
  background-color: var(--gray-soft);
  color: var(--gray-light);
  border-color: transparent;
}

.table td,
.table th {
  border-color: transparent;
}

.table th {
  padding: 0.5rem 0.75rem;
}

.table-responsive {
  overflow-x: scroll;
}
