{% extends 'layout.html' %}
{% block content %}
<h1 class="semi-bold mb-4">Account Management</h1>
<div class="card mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col-9 my-auto">
                    <i class="fas fa-user mr-3"></i>Hello, <b>{{ current_user.name }}</b>
                </div>
                <div class="col-3 text-right">
                    <a href="/logout" class="badge btn-red">Logout</a>
                </div>
            </div>
        </li>
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col-8 my-auto">
                    <i class="fas fa-envelope mr-3"></i>Email: <b>{{ current_user.email }}</b>
                </div>
                <div class="col-4 text-right">
                    <a href="/account/edit" class="badge btn-violet">Edit info</a>
                </div>
            </div>
        </li>
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col-8 my-auto">
                    <i class="fas fa-bell mr-3"></i>Notifications<span class="ml-1 badge widget-red">+1</span>
                </div>
                <div class="col-4 text-right">
                    <a href="/account/notifications" class="badge btn-violet">Read all</a>
                </div>
            </div>
        </li>
        <li class="list-group-item p-3">
         <i class="fas fa-calendar-alt mr-3"></i>Date joined: <b>{{ current_user.date.strftime("%Y-%m-%d") }}</b>
        </li>
    </ul>
</div>
<div class="row">
    {% for widget in current_user.widgets %}
    <div class="col-xl-6" mr-3>
        <div class="card p-3 mb-3 widget-violet">
            <div class="d-flex align-items-center">
               <i class="widget-icon-violet d-flex align-items-center justify-content-center fas fa-bolt"></i> 
               <div class="ml-3"><b>1232 kWh consumed</b><br>Since 10.10.2021</div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-xl-6">
        <a href="/extensions" class="card p-3 mb-3 widget-empty">
            <div class="d-flex align-items-center">
               <i class="widget-icon-empty d-flex align-items-center justify-content-center fas fa-layer-plus"></i> 
               <div class="ml-3"><b>Add widget</b></div>
            </div>
        </a>
    </div>
</div>
<h2 class="semi-bold mb-4">Households</h2>
<div class="card px-3 py-3 mb-3">
    <div class="mb-3"><a href="/account/add-household" class="btn btn-violet">Add household</a></div>
    <!-- <div class="table-responsive"> -->
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                Name</th>
                <th scope="col">
                Address</th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for household in households %}
            <tr>
                    <td>{{ household.name }}</td>
                    <td>{{ household.address }}</td>
                    <td class="text-right"><a href="/account/delete-household?hid={{household.id}}" class="btn just-table-icon btn-red"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- </div> -->
</div>
<h2 class="semi-bold mb-4">Sensors</h2>
<div class="card px-3 py-3 mb-3">
    <div class="mb-3"><a href="/account/add-sensor" class="btn btn-violet">Add sensor</a></div>
    <!-- <div class="table-responsive"> -->
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                Name</th>
                <th scope="col">
                Household</th>
                <th scope="col">
                Status</th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in sensors %}
            <tr>
                    <td>{{ sensor.name }}<span class="ml-1 badge widget-aqua">Online</span></td>
                    <td>{{ sensor.household.name }} {{ sensor.public_key }}</td>
                    <td><span class="badge widget-orange">Verified</span></td>
                    <td class="text-right"><a href="/account/delete-sensor?sid={{sensor.id}}&hid={{sensor.household.id}}" class="btn just-table-icon btn-red"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- </div> -->
</div>
<h2 class="semi-bold mb-4">Categories</h2>
<div class="card px-3 py-3 mb-3">
    <div class="mb-3"><a href="/account/add-category" class="btn btn-violet">Add category</a></div>
    <!-- <div class="table-responsive"> -->
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                Name</th>
                <th scope="col">
                Household</th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.household.name }}</td>
                    <td class="text-right"><a href="/account/delete-category?cid={{ category.id }}&hid={{ category.household_id  }}" class="btn just-table-icon btn-red"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- </div> -->
</div>
{% endblock %}
